@font-face {
  font-display: swap;
  font-family: 'TT_Commons';
  font-style: normal;
  font-weight: 400;
  src: url('../font/TT_Commons_Regular.otf') format('opentype');
}

@font-face {
  font-display: swap;
  font-family: 'Vogun';
  font-style: normal;
  font-weight: 500;
  src: url('../font/vogun.otf') format('opentype');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

ol,
ul {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  width: 100%;
}

table th,
table td {
  border: 1px solid #000;
  padding: 0.5em;
}

table th {
  font-weight: bold;
}

caption,
table th,
table td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q::before,
q::after,
blockquote::before,
blockquote::after {
  content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body * {
  max-height: 99999em;
  word-break: break-word;
}

p {
  margin-bottom: 1.5em;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a img {
  border: none;
}

input,
label,
select,
button {
  line-height: inherit;
}

input,
label,
select,
button,
textarea {
  background: none;
  border: 0;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal;
  word-break: normal;
  -webkit-appearance: none;
}

button {
  color: inherit;
}

textarea {
  line-height: 1.5;
  overflow: auto;
  resize: none;
  white-space: pre-line;
}

button:focus {
  outline: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  display: none;
}

@media print {

  /* Remove all backgrounds and enforce black text */
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  /* Remove useless UI */
  nav,
  aside,
  header,
  footer,
  form,
  button,
  input,
  textarea,
  iframe,
  audio,
  video {
    display: none !important;
  }

  /* Reset links to show URLs */
  a {
    color: #000 !important;
    text-decoration: underline !important;
  }

  a[href]::after {
    content: ' ('attr(href) ')';
    font-size: 90%;
  }

  /* Images only if needed */
  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }

  /* Tables */
  table {
    border-collapse: collapse !important;
  }

  th,
  td {
    border: 1px solid #000 !important;
    padding: 4px;
  }

  /* Typography adjustments */
  body {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    font-weight: bold !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-before: avoid;
  }

  /* Avoid cutting important blocks */
  blockquote,
  pre {
    page-break-inside: avoid;
  }

  /* Reset page margins (browser default often adds its own) */
  @page {
    margin: 0;
    size: 11in 14.028in;
  }

  @page :left {
    margin: 0;
  }

  @page :right {
    margin: 0;
  }

  @page :first {
    margin-top: 0;
  }
}

@media only screen and (max-width: 767.98px) {
  .pc {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

@media only screen and (max-width: 1279.98px) {
  .pc-layout {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .sp-layout {
    display: none !important;
  }
}

.trans {
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.trans:hover {
  opacity: 0.8;
}

.hidden {
  display: none;
}

.image-common {
  display: block;
  height: auto;
  width: 100%;
}

.object-common {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.contain-common {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

html {
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

@media (min-width: 768px) {
  html {
    font-size: 5.2083333333dvw;
  }
}

@media only screen and (max-width: 767.98px) {
  html {
    font-size: 26.6666666667dvw;
  }
}

a {
  text-decoration: none;
}

img,
svg {
  image-rendering: smooth;
  shape-rendering: geometricprecision;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  color: inherit;
  display: block;
  font: inherit;
}

body {
  color: #195450;
  font-family: 'TT_Commons', serif;
  font-size: 0.2rem;
  font-weight: 400;
  line-height: 1.3;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.main {
  height: 100%;
  position: relative;
  width: 100%;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 16.22rem;
    width: calc(100% - 0.6rem);
  }
}

@media only screen and (max-width: 767.98px) {
  .wrapper {
    width: calc(100% - 0.24rem);
  }
}

.title-common-primary {
  color: #fff;
  font-family: 'Vogun', sans-serif;
  font-weight: 500;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}

.title-common-primary.is-lion {
  color: #c19e74;
}

.title-common-primary.is-start {
  text-align: left;
}

@media (min-width: 768px) {
  .title-common-primary {
    font-size: 0.5rem;
    line-height: 1.2;
    margin-bottom: 0.16rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .title-common-primary {
    font-size: 0.28rem;
    line-height: 1.4285714286;
    margin-bottom: 0.12rem;
  }

  .title-common-primary.is-start {
    text-align: center;
  }
}

.button-common-primary {
  align-items: center;
  background-color: #c19e74;
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  width: 1.66rem;
}

.button-common-primary::after {
  content: '';
  display: block;
  margin-right: 0.2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-mask: url(../img/common/icon_arrow_01.svg) 50% 50% / contain no-repeat;
  background-color: #fff;
  height: 0.1rem;
  mask: url(../img/common/icon_arrow_01.svg) 50% 50% / contain no-repeat;
  transition: margin-right 0.5s ease-in-out;
  width: 0.1rem;
}

@media (min-width: 768px) {
  .button-common-primary {
    min-height: 0.45rem;
    padding: 0.02rem 0.35rem 0.03rem 0.1rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .button-common-primary {
    font-size: 0.16rem;
    min-height: 0.3rem;
    padding: 0.04rem 0.35rem 0.03rem 0.1rem;
  }
}